<div class="about-container">
    <h1>À propos de notre entreprise</h1>
    <div class="about-content">
        <div class="about-text">
            <p>
                Bienvenue à AuPetitVillage, votre destination de choix pour les
                produits locaux et artisanaux. Nous nous engageons à vous offrir
                des produits de la plus haute qualité, soigneusement
                sélectionnés auprès de producteurs locaux. Notre mission est de
                promouvoir le commerce équitable et de soutenir les petites
                entreprises locales.
            </p>
            <p>
                Depuis notre création, nous nous efforçons de créer une
                communauté autour de produits authentiques et durables. Nous
                croyons en la transparence, la qualité et le service client
                exceptionnel.
            </p>
        </div>
        <div class="about-image">
            <img
                [src]="imageCreateur"
                alt="Image du créateur de l'entreprise"
            />
            <p class="image-caption">Les créateurs d'Astérix & Obélix</p>
        </div>
    </div>
</div>
