<div class="container">
    <div class="sort">
        <div class="sort-name">
            <form (ngSubmit)="onSearch()">
                <input
                    type="text"
                    [(ngModel)]="searchQuery"
                    (input)="onSearch()"
                    name="searchQuery"
                    placeholder="Rechercher un produit..."
                    list="product-suggestions"
                />
                <button type="submit">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
                <datalist id="product-suggestions">
                    <option
                        *ngFor="let suggestion of suggestions"
                        [value]="suggestion.name"
                    ></option>
                </datalist>
            </form>
        </div>
        <span class="sort-price">
            <label for="sortOrder"
                ><fa-icon [icon]="faArrows"></fa-icon>
            </label>
            <select id="sortOrder" [(ngModel)]="sortOrder">
                <option value="asc">Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        </span>
    </div>
    <section>
        <h1>Nos produits</h1>
        <div class="flex">
            <div
                class="product"
                *ngIf="filteredProducts.length > 0; else noProductsFound"
            >
                <app-card-product
                    *ngFor="
                        let product of filteredProducts
                            | sortByPrice: sortOrder
                            | sortByName: searchText
                    "
                    [product]="product"
                >
                </app-card-product>
            </div>
            <ng-template #noProductsFound>
                <p>Nom du produit non trouvé !</p>
            </ng-template>
        </div>
    </section>
</div>
