<div>
    <div class="sort">
        <span class="sort-name">
            <label for="search">Recherche: </label>
            <input id="search" [(ngModel)]="searchText" placeholder="Recherche par nom" />
        </span>
        <span class="sort-price">
            <label for="sortOrder">Prix: </label>
            <select id="sortOrder" [(ngModel)]="sortOrder">
                <option value="asc">Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        </span>
    </div>
    <section>
        <h1>Nos produits</h1>
        <span class="product">
            <div *ngFor="let product of products | sortByPrice:sortOrder | sortByName:searchText">
                <app-card-product [product]="product"></app-card-product>
            </div>

        </span>
    </section>
</div>