@import "../../../styles.scss";

.sort {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: $bg-color-sort;
    border: 1rem solid $bg-color-nav;
    border-radius: 0 0 8px 8px;

    .sort-name,
    .sort-price {
        display: flex;
        align-items: center;
    }

    .sort-name {
        input {
            width: 200px;
            border-radius: 50px;
        }

        button {
            border: none;
            width: 35px;
            height: 35px;
            margin-left: 1rem;
            color: #fff;
            background-color: $color-link;
            border-radius: 50%;
            font-size: 1.3rem;
            transition: all ease-out 0.3s;

            &:hover {
                background-color: $color-hover-link;
            }
        }
    }

    label {
        font-size: 1rem;
        margin-right: 10px;
    }

    input,
    select {
        padding: 8px;
        border-radius: 4px;
        font-size: 1rem;
        background: #fff;
        color: $color-link;
        font-family: "Georgia", serif;
        font-weight: bold;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        border: none;

        &:focus {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }

    select {
        width: 150px;
    }
}

section {
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 3rem;
        color: $color-hover-link;
    }

    p {
        margin: 0 2rem;
    }
}

.flex {
    .product {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;

        img {
            max-width: 100%;
            border-radius: 8px;
        }

        .card:hover {
            transform: translateY(-5px);
        }
    }
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}
