<div>
    <div class="sort">
        <span class="sort-name">
            <label for="search">Recherche: </label>
            <input id="search" [(ngModel)]="searchText" placeholder="Recherche par nom" />
        </span>
        <span class="sort-price">
            <label for="sortOrder">Prix: </label>
            <select id="sortOrder" [(ngModel)]="sortOrder">
                <option value="asc">Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        </span>
    </div>
    <section>
        <h1>Nos produits</h1>

        <ng-container *ngFor="let product of products | sortByPrice: sortOrder | sortByName: searchText">
            <ul>
                <li *ngIf="product.name !== 'Produit non trouvé !'">
                    <app-card-product [product]="product"></app-card-product>
                </li>
                <li *ngIf="product.name === 'Produit non trouvé !'">
                    <p>{{ product.name }}</p>
                </li>
            </ul>
        </ng-container>


    </section>
</div>