/* You can add global styles to this file, and also import other style files */

$bg-color-nav: #fdd90b;
$color-link: #151217;
$color-hover-link: #da001e;
$bg-color-sort: #f9d0a3;

@font-face {
    font-family: "Bubbleboddy";
    src: url("./assets/fonts/Bobbleboddy_light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bubbleboddy", sans-serif;
}

body {
    background-color: #fff;
    font-family: "Comfortaa", sans-serif;
    color: $color-link;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
