/* You can add global styles to this file, and also import other style files */

$bg-color-nav: #FDD90B;
$color-link: #151217;
$color-hover-link: #DA001E;
$bg-color-sort: #F9D0A3;



ul {
    list-style: none;
}

a {
    text-decoration: none;
}